In [4]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv("Bengaluru_House_Data.csv")

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

# Load the dataset
# Replace 'your_dataset.csv' with the actual file name
df = pd.read_csv('Bengaluru_House_Data.csv')

# Handle 'total_sqft' column
def convert_total_sqft(x):
    try:
        # Extract numeric part and convert to float
        return float(''.join(filter(str.isdigit, str(x))))
    except:
        # Handle non-numeric values gracefully
        return None

df['total_sqft'] = df['total_sqft'].apply(convert_total_sqft)

# Drop rows with NaN values in 'total_sqft'
df = df.dropna(subset=['total_sqft'])

# Split the data into features and target variable
X = df.drop('price', axis=1)
y = df['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define preprocessing steps
numeric_features = ['total_sqft', 'bath', 'balcony']
categorical_features = ['area_type', 'availability', 'location', 'size', 'society']

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Convert the sparse matrix to NumPy array
X_train_preprocessed = preprocessor.fit_transform(X_train).toarray()

# Define the model
model = keras.Sequential([
    layers.Dense(128, activation='relu', input_shape=(X_train_preprocessed.shape[1],)),
    layers.Dense(64, activation='relu'),
    layers.Dense(1)  # Output layer for regression task
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train_preprocessed, y_train, epochs=50, batch_size=32, validation_split=0.2)

# Convert the test set to NumPy array
X_test_preprocessed = preprocessor.transform(X_test).toarray()

# Evaluate the model on the test set
y_pred = model.predict(X_test_preprocessed).flatten()

# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Epoch 1/50
WARNING:tensorflow:From c:\Users\santo\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

267/267 [==============================] - 6s 14ms/step - loss: 22179.2363 - val_loss: 20179.0703
Epoch 2/50
267/267 [==============================] - 3s 12ms/step - loss: 14994.0557 - val_loss: 18873.2988
Epoch 3/50
267/267 [==============================] - 3s 12ms/step - loss: 13661.7178 - val_loss: 18232.2266
Epoch 4/50
267/267 [==============================] - 3s 11ms/step - loss: 12578.4004 - val_loss: 17770.0000
Epoch 5/50
267/267 [==============================] - 3s 12ms/step - loss: 11553.6553 - val_loss: 17150.0723
Epoch 6/50
267/267 [==============================] - 3s 11ms/step - loss: 10550.9727 - val_loss: 16705.1875
Epoch 7/50
267/267 [==============================] - 3s 11ms/step - loss: 9606.6953 - val_loss: 16207.6270
Epoch 8/50
267/267 [==============================] - 3s 11ms/step - loss: 8632.5137 - val_loss: 15731.8213
Epoch 9/50
267/267 [==============================] - 3s 12ms/step - loss: 7790.1338 - val_loss: 15581.3594
Epoch 10/50
267/267 [==============================] - 3s 12ms/step - loss: 7086.6636 - val_loss: 15484.0898
Epoch 11/50
267/267 [==============================] - 3s 12ms/step - loss: 6489.4585 - val_loss: 15227.0049
Epoch 12/50
267/267 [==============================] - 3s 12ms/step - loss: 5945.9336 - val_loss: 14829.7578
Epoch 13/50
267/267 [==============================] - 3s 12ms/step - loss: 5593.9546 - val_loss: 14813.2500
Epoch 14/50
267/267 [==============================] - 3s 12ms/step - loss: 5252.3174 - val_loss: 14893.4355
Epoch 15/50
267/267 [==============================] - 3s 12ms/step - loss: 4966.6455 - val_loss: 14792.6885
Epoch 16/50
267/267 [==============================] - 3s 12ms/step - loss: 4720.4385 - val_loss: 14699.6221
Epoch 17/50
267/267 [==============================] - 3s 12ms/step - loss: 4522.1226 - val_loss: 14903.8838
Epoch 18/50
267/267 [==============================] - 3s 12ms/step - loss: 4329.7407 - val_loss: 14921.4258
Epoch 19/50
267/267 [==============================] - 3s 12ms/step - loss: 4136.3481 - val_loss: 14646.7441
Epoch 20/50
267/267 [==============================] - 3s 12ms/step - loss: 3968.0718 - val_loss: 14763.8203
Epoch 21/50
267/267 [==============================] - 3s 12ms/step - loss: 3871.1287 - val_loss: 14732.0586
Epoch 22/50
267/267 [==============================] - 3s 12ms/step - loss: 3727.3257 - val_loss: 15304.1094
Epoch 23/50
267/267 [==============================] - 3s 12ms/step - loss: 3617.5220 - val_loss: 15485.7568
Epoch 24/50
267/267 [==============================] - 3s 13ms/step - loss: 3505.7078 - val_loss: 14865.4414
Epoch 25/50
267/267 [==============================] - 3s 12ms/step - loss: 3365.9580 - val_loss: 14892.2979
Epoch 26/50
267/267 [==============================] - 3s 12ms/step - loss: 3257.6746 - val_loss: 14957.9014
Epoch 27/50
267/267 [==============================] - 3s 12ms/step - loss: 3148.6812 - val_loss: 15167.4375
Epoch 28/50
267/267 [==============================] - 3s 12ms/step - loss: 3026.4072 - val_loss: 14852.7861
Epoch 29/50
267/267 [==============================] - 3s 12ms/step - loss: 2927.3103 - val_loss: 15319.4678
Epoch 30/50
267/267 [==============================] - 3s 10ms/step - loss: 2868.6038 - val_loss: 14869.6699
Epoch 31/50
267/267 [==============================] - 3s 11ms/step - loss: 2742.9070 - val_loss: 15370.9463
Epoch 32/50
267/267 [==============================] - 3s 11ms/step - loss: 2707.0352 - val_loss: 15243.8047
Epoch 33/50
267/267 [==============================] - 2s 9ms/step - loss: 2595.2124 - val_loss: 15061.6621
Epoch 34/50
267/267 [==============================] - 2s 9ms/step - loss: 2535.1565 - val_loss: 15080.3301
Epoch 35/50
267/267 [==============================] - 2s 9ms/step - loss: 2445.9148 - val_loss: 14843.6514
Epoch 36/50
267/267 [==============================] - 3s 10ms/step - loss: 2383.3950 - val_loss: 15415.0342
Epoch 37/50
267/267 [==============================] - 3s 12ms/step - loss: 2318.2573 - val_loss: 15450.2412
Epoch 38/50
267/267 [==============================] - 121s 454ms/step - loss: 2239.9006 - val_loss: 15476.4102
Epoch 39/50
267/267 [==============================] - 4s 17ms/step - loss: 2156.1199 - val_loss: 15521.6846
Epoch 40/50
267/267 [==============================] - 4s 16ms/step - loss: 2087.8586 - val_loss: 15605.9883
Epoch 41/50
267/267 [==============================] - 4s 13ms/step - loss: 2046.9526 - val_loss: 15613.5361
Epoch 42/50
267/267 [==============================] - 3s 11ms/step - loss: 1968.6342 - val_loss: 15314.9951
Epoch 43/50
267/267 [==============================] - 4s 13ms/step - loss: 1903.8049 - val_loss: 15435.7666
Epoch 44/50
267/267 [==============================] - 3s 12ms/step - loss: 1842.3699 - val_loss: 15545.1172
Epoch 45/50
267/267 [==============================] - 3s 11ms/step - loss: 1799.7539 - val_loss: 15371.2061
Epoch 46/50
267/267 [==============================] - 3s 11ms/step - loss: 1761.6954 - val_loss: 15599.6758
Epoch 47/50
267/267 [==============================] - 3s 12ms/step - loss: 1679.2590 - val_loss: 15872.5645
Epoch 48/50
267/267 [==============================] - 3s 11ms/step - loss: 1682.1401 - val_loss: 15823.8389
Epoch 49/50
267/267 [==============================] - 3s 12ms/step - loss: 1595.8973 - val_loss: 15742.3174
Epoch 50/50
267/267 [==============================] - 3s 11ms/step - loss: 1551.9418 - val_loss: 16296.5156
84/84 [==============================] - 1s 4ms/step
Mean Squared Error: 17900.326500149546

In [6]:
data.shape

(13320, 9)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [8]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [9]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [10]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [11]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [13]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [14]:
data['location']=data['location'].fillna('Sarjapur Road')

In [15]:
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [16]:
data['size']=data['size'].fillna('2 BHK')

In [17]:
data['bath']=data['bath'].fillna(data['bath'].median())

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [19]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [20]:
data[data.bhk > 20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [21]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [23]:
def convertRange(x):

    temp=x.split('-')
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1]))/2
    try:
        return float(x)
    except:
         return None

In [24]:
data['total_sqft']=data['total_sqft'].apply(convertRange)

In [25]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [26]:
data['price_per_sqft']=data['price'] *100000 / data['total_sqft']

In [27]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [28]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [29]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [30]:
data['location']=data['location'].apply(lambda x: x.strip())
location_count=data['location'].value_counts()

In [31]:
location_count_less_10 = location_count[location_count <=10]
location_count_less_10

location
BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: count, Length: 1054, dtype: int64

In [32]:
data['location']=data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [37]:
#outlier

In [38]:

data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [39]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [40]:
data = data[((data['total_sqft']/data['bhk']) >= 300)]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [42]:
data.shape

(12530, 7)

In [43]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [46]:
import pandas as pd
import numpy as np

def remove_outlier_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        gen_df = subdf[(subdf.price_per_sqft > (m - st)) & (subdf.price_per_sqft <= (m + st))]
        df_output = pd.concat([df_output, gen_df], ignore_index=True)
    return df_output

data = remove_outlier_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896     5659.062876
std      880.694214      0.979449     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [48]:
import numpy as np

def bhk_outlier_remove(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }

        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft < stats['mean']].index.values)
                
    return df.drop(exclude_indices, axis='index')

# Example usage
# data = bhk_outlier_remove(data)
# data.describe()

In [50]:
data= bhk_outlier_remove(data)

In [51]:
data.shape

(7361, 7)

In [52]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668
...,...,...,...,...,...,...,...
10292,other,2 BHK,1200.0,2.0,70.0,2,5833.333333
10293,other,1 BHK,1800.0,1.0,200.0,1,11111.111111
10296,other,2 BHK,1353.0,2.0,110.0,2,8130.081301
10297,other,1 Bedroom,812.0,1.0,26.0,1,3201.970443
10300,other,4 BHK,3600.0,5.0,400.0,4,11111.111111

In [53]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

In [54]:
#clean

In [55]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [56]:
data.to_csv("Cleaned_data.csv")

In [57]:
X=data.drop(columns=['price'])
y=data['price']

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [59]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state=0)

In [60]:
print(X_train.shape)

(5888, 4)

In [61]:
print(X_test.shape)

(1473, 4)

In [62]:
#apply algo

In [65]:
column=make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [66]:
scaler = StandardScaler()

In [68]:
lr = LinearRegression()

In [70]:
pipe=make_pipeline(column,scaler,lr)

In [71]:
pipe.fit(X_train,y_train)

C:\Users\santo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [72]:
y_pred=pipe.predict(X_test)

In [73]:
r2_score(y_test,y_pred)

0.8233938751334159

In [74]:
lasso = Lasso()

In [75]:
pipe=make_pipeline(column,scaler,lasso)

In [76]:
pipe.fit(X_train,y_train)

C:\Users\santo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [78]:
y_predL=pipe.predict(X_test)
r2_score(y_test,y_predL)

0.812828565077272

In [79]:
ridge=Ridge()
pipe=make_pipeline(column,scaler,ridge)
pipe.fit(X_train,y_train)

C:\Users\santo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [80]:

y_predR=pipe.predict(X_test)
r2_score(y_test,y_predR)

0.8234146633312638

In [81]:
import pickle

In [82]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))

In [2]:
pip install tensorflow

Collecting tensorflow
  Obtaining dependency information for tensorflow from https://files.pythonhosted.org/packages/93/21/9b035a4f823d6aee2917c75415be9a95861ff3d73a0a65e48edbf210cec1/tensorflow-2.15.0-cp311-cp311-win_amd64.whl.metadata
  Using cached tensorflow-2.15.0-cp311-cp311-win_amd64.whl.metadata (3.6 kB)
Collecting tensorflow-intel==2.15.0 (from tensorflow)
  Obtaining dependency information for tensorflow-intel==2.15.0 from https://files.pythonhosted.org/packages/4c/48/1a5a15517f18eaa4ff8d598b1c000300b20c1bb0e624539d702117a0c369/tensorflow_intel-2.15.0-cp311-cp311-win_amd64.whl.metadata
  Using cached tensorflow_intel-2.15.0-cp311-cp311-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.0.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (23.5.26)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.10.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (16.0.6)
Requirement already satisfied: ml-dtypes~=0.2.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.2.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.24.2)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.23.4)
Requirement already satisfied: setuptools in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (65.5.0)
Requirement already satisfied: six>=1.12.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.9.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.31.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.60.0)
Requirement already satisfied: tensorboard<2.16,>=2.15 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.1)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.15.0->tensorflow) (0.42.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.26.2)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.2.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.0.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2022.12.7)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\santo\appdata\local\programs\python\python311\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.2.2)
Using cached tensorflow-2.15.0-cp311-cp311-win_amd64.whl (2.1 kB)
Using cached tensorflow_intel-2.15.0-cp311-cp311-win_amd64.whl (300.9 MB)
Installing collected packages: tensorflow-intel, tensorflow
Successfully installed tensorflow-2.15.0 tensorflow-intel-2.15.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# Assuming you have already loaded or defined your dataset and features (X) and target variable (y)
# Replace 'Cleaned_data.csv' with the actual path or URL of your dataset

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Load your dataset
df = pd.read_csv('Cleaned_data.csv')

# Assuming 'price' is your target variable
X = df.drop('price', axis=1)  # Features
y = df['price']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Custom transformer using TensorFlow
class MyTensorFlowTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        self.model = Sequential([
            Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
            Dense(32, activation='relu'),
            Dense(1)  # Output layer for regression
        ])
        self.model.compile(optimizer='adam', loss='mean_squared_error')

    def fit(self, X, y):
        self.model.fit(X, y, epochs=10, batch_size=32, verbose=0)
        return self

    def transform(self, X):
        return self.model.predict(X)

# Custom RegressorMixin for TensorFlow
class KerasRegressorTF(RegressorMixin, BaseEstimator):
    def __init__(self, model):
        self.model = model

    def fit(self, X, y):
        self.model.fit(X, y, epochs=10, batch_size=32, verbose=0)
        return self

    def predict(self, X):
        return self.model.predict(X)

# Create a column transformer for one-hot encoding and scaling

WARNING:tensorflow:From c:\Users\santo\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From c:\Users\santo\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\santo\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

ValueError: A given column is not a column of the dataframe